platform/win/StaticLib/Debug/link-cvtres.write.1.tlog
platform/win/StaticLib/Debug/link-rc.write.1.tlog
platform/win/StaticLib/Debug/link.command.1.tlog
platform/win/StaticLib/Debug/link.read.1.tlog
platform/win/StaticLib/Debug/link.write.1.tlog
platform/win/StaticLib/Debug/vc110.idb
platform/win/StaticLib/Debug/vc110.pdb
test/platform/win/ipch/teststaticlib-95d86b70/teststaticlib-da6b3b4b.ipch
platform/win/StaticLib/Debug/link-cvtres.read.1.tlog
platform/win/StaticLib/Debug/link-rc.read.1.tlog
platform/win/StaticLib/Release/CL.read.1.tlog
platform/win/StaticLib/Release/CL.write.1.tlog
platform/win/StaticLib/Release/StaticLib.Build.CppClean.log
platform/win/StaticLib/Release/StaticLib.lastbuildstate
platform/win/StaticLib/Release/StaticLib.log
platform/win/StaticLib/Release/StaticLib.write.1.tlog
platform/win/StaticLib/Release/StaticLibDemo.obj
platform/win/StaticLib/Release/link-cvtres.write.1.tlog
platform/win/StaticLib/Release/link-rc.read.1.tlog
platform/win/StaticLib/Release/link-rc.write.1.tlog
platform/win/StaticLib/Release/link.command.1.tlog
platform/win/StaticLib/Release/link.read.1.tlog
platform/win/StaticLib/Release/link.write.1.tlog
platform/win/StaticLib/Release/vc110.pdb
platform/win/StaticLib/Debug/CL.read.1.tlog
platform/win/StaticLib/Debug/CL.write.1.tlog
platform/win/StaticLib/Debug/StaticLib.Build.CppClean.log
platform/win/StaticLib/Debug/StaticLib.lastbuildstate
platform/win/StaticLib/Debug/StaticLib.log
platform/win/StaticLib/Debug/StaticLib.write.1.tlog
platform/win/StaticLib/Debug/StaticLibDemo.obj
platform/win/StaticLib/Debug/cl.command.1.tlog
platform/win/StaticLib/Release/cl.command.1.tlog
platform/win/StaticLib/Release/link-cvtres.read.1.tlog
test/platform/win/TestStaticLib/Debug/CL.read.1.tlog
test/platform/win/TestStaticLib/Debug/CL.write.1.tlog
test/platform/win/TestStaticLib/Debug/TestStaticLib.lastbuildstate
test/platform/win/TestStaticLib/Debug/TestStaticLib.log
test/platform/win/TestStaticLib/Debug/TestStaticLib.obj
test/platform/win/TestStaticLib/Debug/TestStaticLib.pch
test/platform/win/TestStaticLib/Debug/cl.command.1.tlog
test/platform/win/TestStaticLib/Debug/link-cvtres.read.1.tlog
test/platform/win/TestStaticLib/Debug/link-cvtres.write.1.tlog
test/platform/win/TestStaticLib/Debug/link-rc.read.1.tlog
test/platform/win/TestStaticLib/Debug/link-rc.write.1.tlog
test/platform/win/TestStaticLib/Debug/link.command.1.tlog
test/platform/win/TestStaticLib/Debug/link.read.1.tlog
test/platform/win/TestStaticLib/Debug/link.write.1.tlog
test/platform/win/TestStaticLib/Debug/stdafx.obj
test/platform/win/TestStaticLib/Debug/vc110.idb
test/platform/win/TestStaticLib/Debug/vc110.pdb
